---
---

@import "{{ site.theme }}";

span.menu {
    display: block;
    height: 25px;
    position: relative;
    top: 130px;
    text-align: center;
	width: 450px;
    background-color: #ece4d8;
	margin: 0px 35px;
}